<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy Manager Homepage</title>
</head>
<body>
<h1 align="center"> Hello and welcome to the Pharmacy Manager Homepage!</h1>
<br><br>
<div align="center">
    Available options:
    <br><br>
    <a th:href="@{'/login'}"> Log in </a>
</div>
</body>
</html>